<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>AngularJS</title>
        <link rel="stylesheet"
              type="text/css"
              href="@Url.Content("~/Content/bootstrap-3.0.3/css/bootstrap.min.css")">
        <link rel="stylesheet"
              type="text/css"
              href="@Url.Content("~/Content/main.css")" />
        <style>
            .ng-cloak {
                display: none;
            }
        </style>
    </head>
    <body ng-app="App">
        <div id="wrap">
            <ul id="grow-change-perf">
                <li>Growth</li>
                <li>Change</li>
                <li>Performance</li>
            </ul>            <div class="container ng-cloak">
                @RenderBody()
            </div>
            <div id="footer">
                <div class="container">
                    <p class="text-muted credit">
                        <a href="mailto:dlidstrom@gmail.com">
                            Daniel Lidstr&ouml;m
                        </a>
                        (<a href="https://github.com/dlidstrom">https://github.com/dlidstrom</a>)
                        <span class="pull-right">
                            Short URL:
                            <a href="http://goo.gl/OemXIC">http://goo.gl/OemXIC</a>
                        </span>
                    </p>
                </div>
            </div>        </div>
        <script src="@Url.Content("~/Content/angularjs-1.2.7/angular.js")"></script>
        <script src="@Url.Content("~/Content/app/app.js")"></script>
        <script src="@Url.Content("~/Content/app/initialdata.js")"></script>
        @RenderSection("scripts", false)
    </body>
</html>
